.question-block {
    margin: 100px;
    padding: 100px;
    left: 100px;
    border-radius: 25px;
    background-color: rgb(180, 230, 237);
    border-color: orangered;
}

.index-a{
    margin: 10px;
    padding: 2px;
    width: 50px;
    height: 5px;
    border-radius: 8px;
    text-decoration: none;
    background-color: rgb(240, 248, 255);
}
